@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Evrak Sayfası";
}

<style>
    h1{
        text-align:center;
        padding-top:15%;
    }
</style>

<h1>Lütfen belgelerinizi görüntülemek için çıkış yaparak vergi numaranız ile giriş yapınız.</h1>