@{
    ViewData["Title"] = "İmza Gönderimi";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signed Document</title>
</head>
<body>
    <div>
        <h2>İmzalanan Belge</h2>
        <pre>@ViewBag.SignedDocument</pre>
    </div>
</body>
</html>
