@{
    ViewBag.Title = "PDF İmzalama";
}

<h2>PDF İmzalama</h2>

@using (Html.BeginForm("SignPDF", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" required />
    <button type="submit">PDF İmzala</button>
}
